@media all and (max-width:1030px) {
    /*Ipad portrait*/
    body {
        font-size: 0.85em;
    }
    .imageGrid .gallery {
        height: 100%;
        grid-template-columns: auto auto;
    }
    .banner__background--image {
        right: 0%
    }
    h3 {
        margin-top: 26px;
    }
    .subtitles img {
        width: 10%;
        height: 13%;
    }
    .subtitle__rectangle--grid {
        height: 9.5% !important;
    }
    .ellipse {
        right: 12%;
        top: 3%;
    }
    .information__content {
        padding-right: 2%;
    }
    .contact {
        padding-right: 30px;
    }
    .copyright p {
        padding-top: 5px;
    }
}

@media all and (max-width:950px) {
    body {
        font-size: 0.77em;
    }
}

@media all and (max-width:812px) {
    body {
        font-size: 0.7em;
    }
    .banner__background--image {
        object-fit: contain;
    }
}


/*
@media all and (max-width: 500px) {
    .offerBanner {
        display: none;
    }
    .imageGrid .gallery {
        padding-bottom: 50px;
    }
    .logo {
        margin-left: 0;
    }
    .information__content {
        padding-left: 25px;
    }
    .logo hr {
        display: none;
    }
    .information__content div {
        margin-bottom: 20px;
    }
}