body {
    background-color: #252537;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.125em;
    color: white;
}

.breadscrumbs {
    display: flex;
    flex-direction: row;
    color: white;
    margin-left: 8.4%;
    margin-top: 30px;
    align-items: center;
    &__item {
        margin-left: 10px;
    }
    a {
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 1.125 em;
        font-weight: 600;
    }
}

.productGallery {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 44px;
}

.productLarge {
    width: 662px;
    display: block;
    &__image {
        height: 370px;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 25px;
        object-fit: fill;
    }
    &__description {
        margin-bottom: 48px;
        font-weight: 300;
    }
}

.product {
    width: 320px;
    position: relative;
    margin-bottom: 80px;
    display: block;
    &__image {
        background-color: #EBEBEB;
        height: 370px;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 25px;
        object-fit: fill;
    }
    &__tag {
        position: absolute;
        left: 0;
        bottom: 169px;
        font-family: "Poppins", sans-serif;
        font-size: 1.125em;
        color: white;
    }
    &__favorite {
        position: absolute;
        width: 40px;
        height: 35px;
        right: 20px;
        top: 20px;
        cursor: pointer;
        background: url("../images/noFav.png") no-repeat;
        transition: all 0.3s ease 0s;
    }
    &__favorite:hover {
        background: url("../images/fav.png") no-repeat;
    }
    &__tag--discount {
        background-color: #7B0068;
        padding: 11px 23px;
        border-radius: 0 15px 15px 0;
    }
    &__tag--NoStock {
        background-color: #D38C00;
        padding: 11px 23px;
        border-radius: 0 15px 15px 0;
    }
    &__description {
        margin-bottom: 25px;
        font-weight: 300;
    }
}

.products {
    margin-left: 10px;
    margin-right: 10px;
}

.ordersFilters {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4%;
    h5 {
        margin-bottom: 15px;
    }
    .orders {
        hr {
            margin-top: 10px;
            background-color: white;
        }
        .filters__selection {
            width: 260px;
            .arrow {
                right: 0px;
            }
        }
    }
    .filters {
        display: flex;
        flex-direction: row;
    }
    .filters__selection {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 180px;
        margin-right: 20px;
        .select {
            width: 100%;
            z-index: 2;
            background: none;
            color: #fafafa;
            font-family: "Poppins";
            font-size: 1.05em;
            font-weight: 300;
            outline: 0px;
            border: 0px;
            option {
                color: #fafafa;
                background-color: #1E1E2C;
            }
        }
        .arrow {
            position: absolute;
            right: 4px;
            top: 7px;
            width: 15px;
            height: 15px;
            border-radius: 3px;
            border: 1px solid transparent;
            border-width: .6vmin .6vmin 0 0;
            border-style: solid;
            border-color: #fafafa;
            transform: rotate(-45deg);
        }
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}